.App {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  margin: 0;
  height: 100%;
  overflow: hidden;
}
h1 {
  color: #666666;
  align-self: center;
}