.chat-item-outer {
    flex-direction: column !important;
    padding: 0 !important;
    margin: 0 !important;
}
.chat-item-owner {
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
}
.chat-item-other {
    display: flex;
}
.chat-item-content-owner {
    padding: 6px 12px;
    border-radius: 5px;
    width: fit-content;
    margin: 5px 5px;
    min-height: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17);
    background-color: #0084ff;
    color: #fff;
    font-weight: 200;
}
.chat-item-content-other {
    padding: 6px 12px;
    border-radius: 5px;
    width: fit-content;
    margin: 5px 5px;
    min-height: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17);
    background-color: #fff;
}
.chat-item-date-owner {
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    margin-right: 8px;
    margin-top: -3px;
    font-size: 50%;
}
.chat-item-date-other {
    margin-left: 8px;
    margin-top: -3px;
    font-size: 50%;
}
