.chat-footer {
    flex-direction: row;
    display: flex;
    align-items: center;
    border-top: 1px solid #ddd;
    flex-shrink: 0;
}

.chat-footer textarea {
    padding: 20px;
    border: none;
    resize: none;
    border-radius: 0;
}

.chat-footer textarea:focus, .chat-footer textarea:active {
    border: none;
    box-shadow: none;

}

.chat-footer button {
    padding: 6px 12px;
    border-radius: 5px;
    width: fit-content;
    margin: 5px 5px;
    min-height: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.17);
    background-color: #0084ff;
    color: #fff;
    font-weight: 200;
}